---
http_interactions:
- request:
    method: get
    uri: http://agave.lvh.me:3001/docs/site-api-hyperschema.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 24 Aug 2018 12:40:14 GMT
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "$schema": "http://interagent.github.io/interagent-hyper-schema",
          "title": "Agave Site API",
          "description": "",
          "type": "object",
          "id": "agave-api",
          "links": [
            {
              "href": "https://api.agave.it",
              "rel": "self"
            }
          ],
          "properties": {
            "session": {
              "$ref": "#/definitions/session"
            },
            "account": {
              "$ref": "#/definitions/account"
            },
            "user": {
              "$ref": "#/definitions/user"
            },
            "access_token": {
              "$ref": "#/definitions/access_token"
            },
            "site": {
              "$ref": "#/definitions/site"
            },
            "menu_item": {
              "$ref": "#/definitions/menu_item"
            },
            "deploy_event": {
              "$ref": "#/definitions/deploy_event"
            },
            "item_type": {
              "$ref": "#/definitions/item_type"
            },
            "field": {
              "$ref": "#/definitions/field"
            },
            "item": {
              "$ref": "#/definitions/item"
            },
            "upload": {
              "$ref": "#/definitions/upload"
            },
            "search_result": {
              "$ref": "#/definitions/search_result"
            },
            "role": {
              "$ref": "#/definitions/role"
            }
          },
          "definitions": {
            "item": {
              "position": 2,
              "links": [
                {
                  "method": "POST",
                  "rel": "validate_existing",
                  "private": true,
                  "title": "Validate existing record",
                  "description": "Validates an existing record field",
                  "href": "/api/items/{(%2Fschemata%2Fitem%23%2Fdefinitions%2Fitem%2Fdefinitions%2Fidentity)}/validate",
                  "schema": {
                    "type": "object",
                    "required": [
                      "data"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "data": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes",
                          "relationships"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "$ref": "#/definitions/item/properties/id"
                          },
                          "type": {
                            "$ref": "#/definitions/item/definitions/type"
                          },
                          "attributes": {
                            "$ref": "#/definitions/item/definitions/attributes"
                          },
                          "relationships": {
                            "type": "object",
                            "required": [
                              "item_type"
                            ],
                            "additionalProperties": false,
                            "properties": {
                              "item_type": {
                                "type": "object",
                                "required": [
                                  "data"
                                ],
                                "additionalProperties": false,
                                "properties": {
                                  "data": {
                                    "$ref": "#/definitions/item_type/definitions/data"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "targetSchema": {
                    "type": "object",
                    "required": [
                      "data",
                      "included"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/item"
                      },
                      "included": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/item_type"
                        }
                      }
                    }
                  }
                },
                {
                  "method": "POST",
                  "rel": "validate_new",
                  "private": true,
                  "title": "Validate new record",
                  "description": "Validates a record fields",
                  "href": "/api/items/validate",
                  "schema": {
     [...]
